{% extends 'journey/base.html' %}
{% load static %}
{% block content %}

    <h1 style="padding-left: -40px; font-weight: bold; margin-top:10px">Post Details</h1>
    <a href="{% url 'journey:post_new' %}" class="btn btn-outline-dark"
       role="button">Add Post</a>

    <div class="row">
        <div class="col-12 col-lg-6">
            {% include "journey/pagination.html" with page=posts %}
        </div>
        <div class="col-12 col-lg-6">
            {% include "journey/search.html" with search=search %}
        </div>
    </div>

    {% if search %}
        <div class="row">
            <div class="col-12">
                You searched for <strong>{{ search }}</strong>
            </div>
        </div>
    {% endif %}

    <section class="py-3">
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Image</th>
                    <th>Visited Places</th>
                    <th>Visited Date</th>
                    <th>Favorite Place</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal Code</th>
                    <th>Favorite Activity</th>
                    <th>Description</th>
                    <th>Publish</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <th>{{ post.author.get_full_name }}</th>
                        <td>{{ post.image_url }}></td>
                        <td>{{ post.visited_places }}</td>
                        <td>{{ post.visited_date }}</td>
                        <td>{{ post.favorite_place }}</td>
                        <td>{{ post.address }}</td>
                        <td>{{ post.city }}</td>
                        <td>{{ post.postal_code }}</td>
                        <td>{{ post.favorite_activity }}</td>
                        <td>{{ post.description|safe }}</td>
                        <td>{{ post.publish }}</td>
                        <td><a href="{% url 'journey:post_edit' pk=post.pk %}"
                               class="btn btn-warning">Edit</a></td>
                        <td><a href="{% url 'journey:post_delete' pk=post.pk %}"
                               onclick="return confirm('Are you sure you want to delete?')"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}